Repository vnphanquang/jsconfig: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{md,json,html}": "prettier --write"
}

refactor: extract svelte variant eslint config to own pacakge
  .changeset/young-eels-yawn.md
  packages/eslint-config-svelte/.eslintrc.cjs
  packages/eslint-config-svelte/CHANGELOG.md
  packages/eslint-config-svelte/package.json
  packages/eslint-config/.eslintrc.cjs
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslintrc/.eslintrc.cjs
  packages/eslintrc/prettier.config.js
  packages/prettierrc/base.cjs
  packages/prettierrc/package.json
  packages/prettierrc/prettier.config.cjs
  pnpm-lock.yaml
Due: eslint, prettier --write

chore: update dependneices
  .changeset/plenty-ducks-divide.md
  package.json
  packages/eslint-config-svelte/package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: fix pnpm lock, --ignore-scripts for changset workflow
  .github/workflows/changesets.yaml
  pnpm-lock.yaml
Due: none

chore: update dependencies
  package.json
  packages/eslint-config-svelte/package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update dependencies
  .changeset/lovely-plums-brake.md
  .github/workflows/changesets.yaml
  package.json
  packages/eslint-config-svelte/package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove peer dependencies in package.json
  .changeset/nervous-beers-lay.md
  packages/eslint-config/package.json
  packages/prettierrc/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(eslint-config-svelte): remove peer depencencies
  .changeset/pretty-nails-worry.md
  packages/eslint-config-svelte/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update dependencies
  .changeset/giant-items-cry.md
  package.json
  packages/eslint-config-svelte/package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: deprecate @vnphanquang/eslint-config-svelte
  .changeset/giant-items-cry.md
  packages/eslint-config-svelte/.eslintrc.cjs
  packages/eslint-config-svelte/CHANGELOG.md
  packages/eslint-config-svelte/package.json
  pnpm-lock.yaml
Due: eslint, prettier --write

chore(eslint-config): bump typescript eslint
  .changeset/heavy-carrots-study.md
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: inconsistent inner package version
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update node deps and changesets workflow
  .github/workflows/changesets.yaml
  package.json
Due: prettier --write

chore: upgrade dependencies
  .changeset/itchy-flies-relate.md
  .github/workflows/changesets.yaml
  .husky/pre-commit
  .simple-git-hooks.json
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

update changesets action workflow, enable package provenence
  .changeset/tiny-apples-count.md
  .github/workflows/changesets.yaml
  packages/eslint-config/package.json
  packages/prettierrc/package.json
Due: prettier --write

chore: upgrade to eslint v9, move to es module
  .changeset/flat-files-double.md
  .changeset/lemon-pandas-swim.md
  .eslintignore
  .eslintrc.cjs
  eslint.config.js
  package.json
  packages/eslint-config/.eslintrc.cjs
  packages/eslint-config/eslint.config.d.ts
  packages/eslint-config/eslint.config.js
  packages/eslint-config/package.json
  packages/prettierrc/package.json
  packages/prettierrc/prettier.config.cjs
  packages/prettierrc/prettier.config.d.ts
  packages/prettierrc/prettier.config.js
  pnpm-lock.yaml
  prettier.config.cjs
  prettier.config.js
  turbo.json
Due: eslint, prettier --write

chore: deprecate husky & lint-staged, remove turbo, bump deps
  .changeset/popular-needles-accept.md
  .github/workflows/changesets.yaml
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  lefthook.yaml
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: prettier --write

chore: remove unnecessary build step
  package.json
Due: prettier --write

chore(eslint-config): [BREAKING] expose defineConfig function
  .changeset/brown-turtles-accept.md
  .gitignore
  eslint.config.js
  package.json
  packages/eslint-config/eslint.config.d.ts
  packages/eslint-config/eslint.config.js
  packages/eslint-config/package.json
  packages/eslint-config/src/index.js
  packages/eslint-config/tsconfig.json
  pnpm-lock.yaml
Due: eslint, prettier --write

chore(eslint): add App global if using Svelte
  .changeset/cold-banks-switch.md
  packages/eslint-config/src/index.js
Due: eslint, prettier --write

chore: attempt to lazy load eslint-plugin-svelte
  .changeset/thick-bears-lick.md
  packages/eslint-config/src/index.js
Due: eslint, prettier --write

chore: upgrade eslint plugins
  .changeset/modern-carrots-shout.md
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: upgrade dependencies
  .changeset/sharp-corners-sleep.md
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: bump eslint dependencies
  .changeset/gold-readers-cry.md
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: sync upstream depeencies
  .changeset/busy-eyes-leave.md
  lefthook.yaml
  package.json
  packages/eslint-config/package.json
  packages/eslint-config/src/index.js
  pnpm-lock.yaml
Due: eslint, prettier --write

chore: update changesets workflow specs
  .github/workflows/changesets.yaml
Due: none

docs: add some in README
  .changeset/README.md
  README.md
Due: prettier --write

fix: changeset action should be flagged at v1
  .github/workflows/changesets.yaml
Due: none

chore: add README to published files
  packages/eslint-config/package.json
Due: prettier --write

feat(eslint): allow passing more configs
  .changeset/yellow-states-kiss.md
  packages/eslint-config/src/index.js
Due: eslint, prettier --write

chore: use modern devEngines specs in package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore: pin to node 24.16.0 (fixes ERR_STREAM_PREMATURE_CLOSE)
  .github/workflows/changesets.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: run pnpm publish explicitly to avoid devEngines conflict with npm
  package.json
Due: prettier --write
